:root{
    --midnight:#050549;
    --naniblue:#7576a6;
    --relaxingred:#8b0b10;
    --plumskies:#623960;
    --hawaiiankiss:#c04c3f;
}

header{
    background: var(--midnight);
}

.navbar-toggler{
    border: 1px solid var(--hawaiiankiss);
}

body{
    background-color: #bfc1c4;
}

main{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    width: 100%;
    justify-content: center;
}

main div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1{
    margin: 2%;
}

p{
    margin: 2%;
    padding: auto;
}

.container main{
    min-height: 90vh;
}

.background_stuff{
    background-color: var(--naniblue);
    padding: 2% 5%;
    text-align: start;
    color: whitesmoke;
    border-radius: 4px;
}

.background_stuff button{
    background-color: var(--midnight);
    opacity: 50%;
    border-radius: 12px;
    color: white;
    text-align: center;
    padding: 3px 10px;
}

.login_signup_stuff button{
    background-color: var(--midnight);
    border-radius: 12px;
    color: white;
    text-align: center;
    min-width: 15%;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px;
}

tr{
    margin-bottom: 10%;
}

.create_edit{
    display: grid;
    grid-gap: 1%;
    grid-template-columns: 1fr;
    padding-bottom: 3%;
}

fieldset{
    border: 1px solid var(--midnight);
    border-radius: 4px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 12px;
}

.assessment{
    padding-bottom: 3%;
}

.four_col{
    display: grid;
    grid-gap: 2%;
    grid-template-columns: 1fr 2fr 1fr 2fr;
    padding-bottom: 3%;
}

input[type=text], input[type=password]{
    border-radius: 12px;
    padding: 0% 8%;
}

textarea{
    border-radius: 12px;
    padding: 2% 4%;
}

.six_col{
    display: grid;
    grid-gap: 2%;
    grid-template-columns: 1fr 4fr 1fr 4fr;
    padding-bottom: 3%;
}

.four_col label, .six_col label, .assessment label{
    text-align: right;
}

select{
    margin-left: 1%;
    padding: 1%, 2%;
    border-radius: 12px;
    text-align: center;
    min-width: 30%;
}

legend{
    font-size: medium;
    padding: 0 10px;
    float: unset;
    width: max-content;
    text-align: center;
}

.signup_form {
    width: 70%;
    display: block;
}

.signup_form form{
    margin: 2%;
    display: grid;
    grid-gap: 2%;
    grid-template-columns: 1fr;
}

.fields{
    display: grid;
    grid-gap: 2%;
    grid-template-columns: 1fr 2fr;
    padding-bottom: 3%;
}

.fields label{
    margin: 2%;
    width: 100%;
    text-align: start;
    font-size: medium;
    box-sizing: border-box;
}

.fields input{
    margin: 2%;
    width: 100%;
    border-radius: 12px;
    box-sizing: border-box;
}



@media only screen and (max-device-width: 767px){
    
    tr{
        text-align: center;
        display: block;
        border-bottom: 1px solid var(--midnight);
        margin-bottom: 2%;
    }
    td{
        display: block;
    }
    table button{
        margin-bottom: 5px;
    }
    .report_options{
        margin-top: 5px ;
    }

    .fields{
        grid-gap: 1%;
        grid-template-columns: 1fr;
        margin-bottom: 10%;
    }

    .fields label, .fields input{
        margin: 1%;
        text-align: center;
    }

    .four_col{
        grid-template-columns: 1fr;
    }
    
    .four_col.emp_info{
        padding-bottom: 35%;
    }

    .four_col.benefits{
        padding-bottom: 10%;
    }

    .six_col{
        grid-template-columns: 1fr;
    }

    .four_col label, .six_col label{
        text-align: center;
    }

    .create_edit{
        padding-bottom: 15%;
    }
}